@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Montserrat:400,700&display=swap');
$color-main: #9baf6d;
$color-sub: #fff;
$bg-color-secondary: #45493b;
$bg-color-main:#212121;
$font-main: 'Montserrat', sans-serif;
$font-gochi: 'Gochi Hand', cursive;

